# Python
__pycache__/
*.py[cod]
*.pyd
*.so
*.egg-info/
.dist-info/
.eggs/
.pytest_cache/
.mypy_cache/

# Virtual environments
.venv/
venv/

# Local models
models/*
!models/.gitkeep

# OS
.DS_Store
Thumbs.db
